<ion-header>
  <ion-navbar color="orangeFour">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Top Gun Pizza</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="orangeOne">
  <ion-card *ngIf="dish; else loading">
    <img src="{{dbURL +  dish.image}}"
    alt="{{dish.name}}">
    <ion-card-content>
      <ion-card-title>
        {{dish.name | uppercase}}
      </ion-card-title>
      <p>
        {{dish.description}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="leader;else loading">
    <img src="{{dbURL + leader.image}}"
    alt="{{leader.name">
    <ion-card-content>
      <ion-card-title>
        {{leader.name | uppercase}}
      </ion-card-title>
      {{leader.description}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="leader;else loading">
    <img src="{{dbURL + promotion.image}}"
    alt="{{promotion.name">
    <ion-card-content>
      <ion-card-title>
        {{promotion.name | uppercase}}
      </ion-card-title>
      {{promotion.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
