<ion-header>
  <ion-navbar color="orangeFour">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Top Gun Pizza</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="orangeOne">
  <ion-card *ngIf="dish; else loading">
    <img src="{{dbURL +  dish.image}}"
    alt="{{dish.name}}">
    <ion-card-content>
      <ion-card-title>
        {{dish.name | uppercase}}
      </ion-card-title>
      <p>
        {{dish.description}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="leader;else loading">
    <img src="{{dbURL + leader.image}}"
    alt="{{leader.name">
    <ion-card-content>
      <ion-card-title>
        {{leader.name | uppercase}}
      </ion-card-title>
      {{leader.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
<p>
   </ion-card-content>
  </ion-card>
  <ion-card *ngIf="promotions;else loading">
    <img src="{{dbURL + promotions.image}}"
    alt="{{promotions.name">
    <ion-card-content>
      <ion-card-title>
        {{promotional.name | uppercase}}
      </ion-card-title>
      {{promotional.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
</p>

<ion-content padding>
  <h3>huehuehuehue</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>


  <button ion-button secondary menuToggle>Toggle Menu</button>
</ion-content>
